PORT=3000
API_KEY=your_api_key_here
NODE_ENV=development
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-southeast-2
DYNAMO_TABLE=invoices
USER_TABLE=users
SESSION_TABLE=sessions
S3_BUCKET=your_bucket_name_here