PORT=3000
NODE_ENV=development
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
DYNAMODB_TABLE_NAME=invoices
S3_BUCKET_NAME=invoice-files
API_KEY=your_api_key_here