@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sans: 'Archivo', sans-serif;
  --heading: 'Archivo Black', sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --text: #000000;
  --text-muted: #1e1e1e;
  --text-muted2: #615d58;
  --text-h: #000000;
  --text-inverse: #ffffff;
  --error: #cc0000;

  --bg: #ffffff;
  --form-bg: #f2e9dd;
  --input-bg: #ffffff;
  --input2-bg: #f0f0f0;
  --container-bg: #2c2c2c;
  --active-bg: #4d4d4d;
  --bg-inverse: #111111;

  --border: #000000;
  --border-muted: #666666;
  --input-border: #d9d9d9;
  --active-border: #ffffff;
  --code-bg: #f4f3ec;

  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sidebar-width: 280px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f5f1eb;
    --text-muted: #b8b1a8;
    --text-h: #ffffff;
    --text-inverse: #111111;
    --error: #a61b1b;

    --bg: #121212;
    --form-bg: #1b1611;
    --input-bg: #23201d;
    --container-bg: #2c2c2c;
    --button-bg: #f2e9dd;

    --border: #3a332c;
    --border-muted: #5a5048;
    --input-border: #4a4038;
    --code-bg: #1f2028;

    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  font-family: var(--sans);
  color: var(--text);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 400;
  color: var(--text-h);
}

h1 {
  font-family: var(--heading);
  font-size: 60px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 15px 0;
  }
}
h2 {
  font-family: var(--sans);
  font-size: 30px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
  font-size: 16px;
  line-height: 140%;
  color: var(--text);
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 2px;
  font-size: 14px;
  color: var(--text-muted);
  text-align: left;
  line-height: 140%;
  font-family: var(--sans);
}

.navigate {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
